/*!
Theme Name: newbie
Theme URI: http://newbie.com/
Author: davis
Author URI: http://davis
Description: start
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: newbie
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

newbie is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
## Reset css
## Header
## Search highlight
## Post meta
## Footer
## Layouts
# Components
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Alignments
#Media Queries
#Portfolio
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Reset css
--------------------------------------------------------------*/
body {
	color: #000000;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}

img {
    transition: all .5s ease;
    height: auto;
    vertical-align: middle;
}

.pt-2 {
	padding-top: 20px;
}

.mb-1 {
	margin-bottom: 1rem;
}

a:hover {
	text-decoration: none;
}

.p-0 {
	padding: 0;
}

.pr-0 {
	padding-right: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
	padding: 0;
}

.logo img{
	max-height: 50px;
}
/*--------------------------------------------------------------
# Search highlight
--------------------------------------------------------------*/
.search-highlight {
	background: #00e9ff;
}
/*--------------------------------------------------------------
# Post meta
--------------------------------------------------------------*/
.entry-meta span {
	padding-right: 20px;
	display: inline-block;
}

.entry-meta span .fa {
	color: #bcbcbc;
}

.entry-meta span a {
	color: #777;
	text-decoration: none;
}

.entry-meta span a:hover {
	text-decoration: underline;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-menu {
	margin-left: 0;
	padding: 0 0 30px 0;
}

.footer-menu li {
	display: block;
	list-style-type: none;
    margin-bottom: 16px;
}

.footer-menu li a {
	display: inline-block;
	color: #ffffff;
	opacity: 0.5;
    position: relative;
    transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.footer-menu li a:after {
    background-color: hsl(0, 0%, 100%);
    content: "";
    height: 1px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    transform: translateY(1px);
    transition: 0.15s all cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-property: opacity, transform;
    width: 100%;
}

.footer-menu li a:hover:after, .footer-menu li a:focus:after {
    opacity: 1;
    transform: translateY(-3px) translateZ(0);
}

.footer-menu > li:first-child > a {
	border-left: none;
}

.site-footer {
	background: #1a1a1a;
	color: #ffffff;
    padding-bottom: 32px;
    padding-top: 32px;
}
/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Aligns links to the left and right of the container */
.nav-previous {
    float: left;
}

.nav-next {
    float: right;
}

.nav-previous:focus, .nav-next:focus,
.nav-previous:hover, .nav-next:hover {
    background-color: #eee;
}

.nav-previous a:focus, .nav-next a:focus,
.nav-previous a:hover, .nav-next a:hover {
    text-decoration: none;
}

/* Adds arrows to the left and right respectively */
.nav-previous a::before {
    content: &quot;\2190\00a0&quot;;
}

.nav-next a::after {
    content: &quot;\00a0\2192&quot;;
}


.posts-navigation .screen-reader-text,
.post-navigation .screen-reader-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.navbar {
    background-color: #000000;
}

.navbar-default .navbar-nav>li>a {
	color: #c9c9c9;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #c9c9c9;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #000000;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: white;
    background-color: #000000;
}

.navbar-nav>li:hover>.dropdown-menu {
	display: block;
}

.navbar-nav>li>.dropdown-menu {
	border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    width: 210px;
}

.dropdown-menu>li>a {
	border-top: solid 1px #e3e3e3;
    padding: 10px 15px;
	color: #666;
}

.dropdown-menu>li>a:hover {
    background-color: #e6e6e6;
    color: #666;
}
/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.hentry {
	margin: 0 0 1.5em;
	border-bottom: 1px solid #ddd;
	padding-bottom: 1.5em;
}

.hentry .post-thumbnail img {
	margin-top: 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	
}

.comment-title, .comment-reply-title {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eee;
}

ol.comment-list {
	list-style: none;
	padding-left: 0;
}

.comment-author .avatar {
	margin-right: 25px;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	padding: 4px;
}

.comment-meta {
	margin: 20px 0;
}

.comment-details {
	overflow: hidden;
	zoom: 1;
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #ddd;
}

.comment-details .reply {
	margin-top: 10px;
}

.comment-date a {
	font-size: 11px;
	color: #777;
	margin-right: 10px;
}

#commentform #comment {
	width: 100% !important;
}

#commentform #submit {
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	padding-bottom: 0;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #333;
	border-color: #ccc;
	background-color: #fff;
}

	#commentform #submit:hover {
		color: #333;
		background-color: #e6e6e6;
		border-color: #adadad;
	}
/* Widgets
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

.widget select {
	max-width: 100%;
}

.widget ul{
	list-style: none;
}

.widget-title {
    color: #313131;
    margin-bottom: 1.5em;
    padding: 0 0 8px 0;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    line-height: 1.3;
    font-size: 16px;
    border-bottom: 1px solid #313131;
}

.widget-title::before {
	position: absolute;
	width: 40px;
	height: 3px;
	background-color: #dd3333;
	bottom: -2px;
	left: 0;
	content: '';
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

embed, iframe, object, img {
	max-width: 100%;
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
	display: block;
}

/* Alignments
--------------------------------------------- */
.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

/* Word break
--------------------------------------------- */
#primary, #secondary {
 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for WebKit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phone */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tables */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
#portfoliotabs {
    margin-top: 30px;
    padding-bottom: 40px;
    text-align: center;
}

#portfoliotabs li {
    display: inline;
    margin-right: 10px;
    list-style: none;
}

#portfoliotabs a {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 19px;
    background-color: #fff;
    color: #666666;
    text-decoration: none;
    transition: all 0.4s ease 0s;
}

#portfoliotabs a.active, #portfoliotabs a:hover {
    background-color: #00b400;
    color: #fff;
}

.portfolio .thumbnail{
	padding: 0;
	border: 0;
	overflow: hidden;
	border-radius: 0;
}

.portfolio .thumbnail>a{
	position: relative;
    overflow: hidden;
    display: block;
    height: 230px;
}

.portfolio .thumbnail>a:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.portfolio .thumbnail .caption {
	padding: 24px 0;
}

.portfolio .thumbnail .caption h3>a {
	color: #333;
}